<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MEETING.styles.css" />
    <link rel="stylesheet" href="login.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="Admin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="Admin2/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="Admin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="Admin2/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="Admin2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="Admin2/vendor/jquery/jquery.min.js"></script>
    <script src="Admin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Admin2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="Admin2/js/sb-admin-2.min.js"></script>
    <script src="Admin2/vendor/chart.js/Chart.min.js"></script>
    <script src="Admin2/js/demo/chart-area-demo.js"></script>
    <script src="Admin2/js/demo/chart-pie-demo.js"></script>

    <script src="Admin2/vendor/jquery/jquery.min.js"></script>
    <script src="Admin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Admin2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="Admin2/js/sb-admin-2.min.js"></script>
    <script src="Admin2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="Admin2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="Admin2/js/demo/datatables-demo.js"></script>


    <script src="_framework/blazor.web.js"></script>
</body>

</html>
